.body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
}
