.gallery__list {
  @include list-reset;
}

.gallery-card__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.gallery-card__author {
  color: #000000;
}
