.video__heading {
  padding: 18px 42px 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 445px;
    padding: 57px 0 74px;
    margin: 0 auto;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.video__player {
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    img {
      width: 648px;
      height: 500px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;

    img {
      width: 800px;
    }
  }
}

.video__button-play {
  position: absolute;
  background-image: url("../../img/catalog/play.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 48px;
  height: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
