.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 64px 120px;
  }
}

.form__fieldset {
  margin: 0;
  padding: 25px 20px 24px;
  border: none;

  @media (max-width: $mobile-width-only) {
    &--half:first-child {
      padding-bottom: 39px;
    }

    &--half:nth-child(2) {
      padding-bottom: 34px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    margin-bottom: 47px;
    padding: 0;
    border-top: 1px solid #d6d6d6;

    &--half {
      width: calc(50% - 29px);
      margin-bottom: 63px;
      border-top: none;
    }

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        top: -63px;
        right: -29px;
        width: 1px;
        height: calc(100% + 69px);
        background-color: #dbdbdb;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--half {
      width: calc(50% - 49px);
      margin-bottom: 71px;
    }

    &:first-child {
      &::after {
        right: -49px;
      }
    }
  }
}

.form__legend {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(24px);

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: #d6d6d6;
      transform: translateY(-24px);
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 400px;
    margin-bottom: 28px;
    font-size: 21px;
    transform: translateY(0);
  }
}

.form__list {
  @include list-reset ;
  display: grid;
  align-items: center;
  gap: 16px;

  &--radio {
    @media (min-width: $tablet-width) {
      max-width: 576px;
      margin: 0 auto;
      grid-template-columns: repeat(2, 280px);
    }

    @media (min-width: $desktop-width) {
      max-width: 854px;
      padding: 17px 0 25px;
      column-gap: 28px;
      grid-template-columns: 280px 280px 238px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      max-width: 480px;
      margin: 0 auto;
      column-gap: 32px;
      grid-template-columns: repeat(2, 224px);
    }

    @media (min-width: $desktop-width) {
      max-width: 871px;
      padding: 31px 0 39px;
      column-gap: 64px;
      grid-template-columns: 172px 170px 153px 184px;
    }
  }
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 31px 0 23px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__submit-button {
  font-family: "PT Sans", "Tahoma", sans-serif;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
  }
}

.form__stint {
  max-width: 250px;
  margin-top: 3px;
  margin-left: auto;
  font-size: 12px;
  color: #33333399;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    font-size: 14px;
  }
}
