.group-control {
  position: relative;
  display: block;
  cursor: pointer;

  &:hover {
    .group-control__mark {
      background-color: #e5e5e5;
    }
  }

  &:active {
    .group-control__mark {
      background-color: #d5d5d5;
    }

    .group-control__mark::after {
      opacity: 0.3;
    }
  }
}

.group-control__mark {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  transform: translateY(-50%);

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.group-control__sign {
  display: block;
  padding: 10px 0 10px 62px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.group-control__input[type="radio"] {
  &:checked {
    + .group-control__mark::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;

      background-color: #333333;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.group-control__input[type="checkbox"] {
  &:checked {
    + .group-control__mark::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 22px;
      height: 16px;
      background: url("../img/form-icon/tick.svg") no-repeat;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.group-control__input {
  &:focus-visible {
    + .group-control__mark {
      box-shadow: 0 0 0 3px #81b3d2;
    }
  }

  &:disabled {
    + .group-control__mark {
      background-color: #0000004d;
      cursor: default;
    }
  }
}

